= link_to "Tables", tables_path, class: "mobile-button"

= link_to "Horizontal Scrolling", horizontal_scrolling_contents_path, class: "mobile-button"

= link_to "Simple Form", simple_form_contents_path, class: "mobile-button"
