<!DOCTYPE html>
<html>
<head>
  <title>LightMobile</title>
  <%= stylesheet_link_tag    "light_mobile/application", media: "all" %>
  <%= javascript_include_tag "light_mobile/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
