/*= require light_mobile/buttons_assets */

a.mobile-button:link, a.mobile-button:visited, a.mobile-button:hover, a.mobile-button:active {
  height: 31px;
  padding: 10px 0 0 0;
  text-decoration: none;
  display: block;
  color: #000000;
}

.mobile-button {
  border: 1px solid #d5d6d6;
  background-color: #f6f6f6;
  border-radius: 10px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  height: 41px;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 10px;
}

.mobile-button-dark {
  @extend .mobile-button;

  border-color: #7c7c7c;
  background-image: url("<%= asset_path('light_mobile/buttons/button_dark_bg.png') %>");
  color: #ffffff !important;
}

.mobile-button-danger {
  @extend .mobile-button;

  border-color: #761c18;
  background: linear-gradient(#aa363b, #8d1f23);
  color: #ffffff !important;
}

.mobile-button-primary {
  @extend .mobile-button;

  border-color: #006486;
  background-color: #5595bf;
  color: #ffffff;
}

.mobile-button-small {
  @extend .mobile-button;

  height: 22px !important;
  padding-top: 3px !important;
  font-weight: normal;
  font-size: 13px;
  border-radius: 5px;
}

.mobile-button-mini {
  @extend .mobile-button;

  height: 17px !important;
  padding-top: 3px !important;
  font-weight: normal;
  font-size: 12px;
  border-radius: 5px;
  width: 90px;
}

.mobile-button-header {
  @extend .mobile-button-mini;

  margin-bottom: 0px;
  float: right;
}

.mobile-button-flash-ok {
  @extend .mobile-button;

  margin-top: 15px;
  margin-bottom: 0px;
  background: linear-gradient(#c0c6d2, #606b87);
  border-color: #212c4c;
  color: #ffffff !important;
}
