.simple_form {
  .input.boolean {
    border: 1px solid #cecece;
    border-radius: 10px;
    margin-bottom: 20px;

    > label {
      width: auto;
      padding: 10px;
    }

    input[type=checkbox] {
      margin-left: 10px;
    }
  }
}
