.simple_form {
  .error {
    border: 1px solid #df8f90;
    background-color: #ffd2d3;
    border-radius: 4px;
    padding: 6px;
    margin-bottom: 15px;
    display: block;
  }

  .hint {
    color: grey;
    padding-bottom: 15px;
    font-size: 11px;
    display: block;
    margin-top: 3px;
  }
}
